@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background-color: #222;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    line-height: 1.1;
    #page {
        color: #fff;
        padding-top: 77px;
        #header-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            p, ul {
                margin: 0px;
            }
            .navbar {
                display: flex;
                align-content: center;
                padding: 30px 0px;
                > div {
                    display: inline-block;
                    &.slogan {
                        margin-left: 20px;
                    }
                    &.main-menu {
                        margin-left: auto;
                        ul {
                            padding: 0px;
                            list-style: none;
                            li {
                                display: inline-block;
                                margin-right: 10px;
                                &:last-of-type {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container {
            max-width: 1440px;
            padding: 0px 40px;
        }
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}